{% extends "base.html" %}
{% block title %}Kifu List{% endblock %}
{% block content %}
  {% if kifu_list %}
    <ul>
    {% for kifu in kifu_list %}
      <li><a href="/kifu/{{ kifu.id }}">{{ kifu }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No kifu found.</p>
  {% endif %}
{% endblock %}
{% block dev %}
  <p>This page is the site homepage. It should show a list of kifu, activities, with optional search/filters. It can also include some sort of dashboard for logged in users.</p>
{% endblock %}