<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:bold&subset=latin' rel='stylesheet' type='text/css'>
  <link href="/static/css/base.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
  <title>Kifu Repository</title>
</head>
<body>
<div id="site-wrapper">
  <div class="site-header">
    <p class="site-name"><a href="/">Kifu Repository</a></p>
    <ul class="primary-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/user/victoria">Dashboard</a></li>
      <li><a href="/kifu/3/">Example game</a></li>
      <li><a href="/">About</a></li>
      <li><a href="/">Help</a></li>
    </ul>
  </div><!-- / .site-header -->
  
  <h1>{% block title %}{% endblock %}</h1>
  <div id="dev">{% block dev %}{% endblock %}</div>
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
</div><!-- / #site-wrapper -->
</body>
</html>